.page {
    max-width: 1280px;
    min-width: 320px;
    min-height: calc(100% - 52px);
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: "Inter", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: #fff;
}

@media (max-width: 1279px) {
    .page {
        width: 100%;
    }
}