.places {
    width: 100%;
    max-width: 984px;
    box-sizing: border-box;
    padding-bottom: 92px;
}

@media (max-width: 1279px) {
.places {
    max-width: 928px;
}
}

@media (max-width: 1023px) {
    .places {
        max-width: 720px;
        padding-bottom: 90px;
    }
}

@media (max-width: 767px) {
    .places {
        padding-bottom: 66px;
    }
}