.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 984px;
    box-sizing: border-box;
    padding-bottom: 92px;
}

@media (max-width: 1279px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .lead {
        width: 100%;
        padding-bottom: 77px;
    }
}

@media (max-width: 767px) {
    .lead {
        padding-bottom: 53px;
    }
}




