.header {
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1279px) {
.header {
    width: calc(100% - 96px);
    padding: 28px 0 48px;
}
}

@media (max-width: 1023px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media (max-width: 767px) {
    .header {
        width: calc(100% - 30px);
        padding: 16px 0 48px;
    }
}