.place {
    display: grid;
    grid-template-columns: 460px calc(100% - 500px);
    grid-template-rows: minmax(1fr, 2fr) 6fr;
    grid-gap: 48px 40px;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__text"
    ;
    padding-bottom: 80px;
}

.place:last-of-type {
    padding-bottom: 0;
}

@media (max-width: 1279px) {
    .place {
        grid-template-columns: 440px calc(100% - 472px);
        grid-gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        grid-template-columns: 340px calc(100% - 368px);
        grid-gap: 45px 28px;
        padding-bottom: 73px;
    }
}

@media (max-width: 767px) { 

    .place { 
        display: grid; 
        grid-template-columns: minmax(320px, auto); 
        grid-template-rows: minmax(35px, auto) minmax(46px, auto) minmax(320px, auto) auto; 
        grid-gap: 32px 0; 
        grid-template-areas:  
        "place__title" 
        "place__website" 
        "place__image" 
        "place__text";
        padding-bottom: 50px; 
        justify-content: center; 
    }
} 